<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header d-flex align-items-center justify-content-lg-center">
      <a class="navbar-brand text-center">
        <img src="/public/assets/img/brand/logo.png" width="100px" height="150px" style="object-fit: cover;" />
      </a>
      <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a <% if (page_name==='dashboard' ) { %>
              class="nav-link active"
              <% } else { %>
                class="nav-link"
                <% } %>
                  href="/"
                  >
                  <i class="ni ni-shop text-primary"></i>
                  <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a <% if (page_name==='kuisioner' ) { %>
              class="nav-link active"
              <% } else { %>
                class="nav-link"
                <% } %>
                  href="/kuisioner"
                  >
                  <i class="ni ni-chart-pie-35 text-info"></i>
                  <span class="nav-link-text">Questionnaire</span>
            </a>
          </li>
          <li class="nav-item">
            <a <% if (page_name==='questions' ) { %>
              class="nav-link active"
              <% } else { %>
                class="nav-link"
                <% } %>
                  href="/questions"
                  >
                  <i class="ni ni-collection text-primary"></i>
                  <span class="nav-link-text">Question</span>
            </a>
          </li>
          <li class="nav-item">
            <a <% if (page_name==='answers' ) { %>
              class="nav-link active"
              <% } else { %>
                class="nav-link"
                <% } %>
                  href="/answers"
                  >
                  <i class="ni ni-single-copy-04 text-success"></i>
                  <span class="nav-link-text">Answer</span>
            </a>
          </li>
          <li class="nav-item">
            <a <% if (page_name==='users' ) { %>
              class="nav-link active"
              <% } else { %>
                class="nav-link"
                <% } %>
                  href="/users"
                  >
                  <i class="ni ni-single-02 text-danger"></i>
                  <span class="nav-link-text">User</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3" />
      </div>
    </div>
  </div>
</nav>